In [9]:
import pandas as pd
import numpy as np
import altair as alt

In [10]:
data = pd.read_csv("nutrition_2.csv")

In [11]:
data.head(20)

,Unnamed: 0,id,cuisine,name,title,amount,indented,percentOfDailyNeeds,unit
0,0,580502,Caribbean,Caribbean Easter Egg Dye,Calories,556,False,27.84,k
1,1,580502,Caribbean,Caribbean Easter Egg Dye,Fat,29,False,44.62,g
2,2,580502,Caribbean,Caribbean Easter Egg Dye,Saturated Fat,4,True,25.37,g
3,3,580502,Caribbean,Caribbean Easter Egg Dye,Carbohydrates,65,False,21.68,g
4,4,580502,Caribbean,Caribbean Easter Egg Dye,Sugar,5,True,5.98,g
5,5,580502,Caribbean,Caribbean Easter Egg Dye,Cholesterol,0,False,0.00,.
6,6,580502,Caribbean,Caribbean Easter Egg Dye,Sodium,649,False,28.25,mg
7,0,580502,Caribbean,Caribbean Easter Egg Dye,Protein,12,False,24.63,g
8,1,580502,Caribbean,Caribbean Easter Egg Dye,Vitamin C,66,False,80.46,mg
9,2,580502,Caribbean,Caribbean Easter Egg Dye,Manganese,0,False,48.58,.
10,3,580502,Caribbean,Caribbean Easter Egg Dye,Fiber,10,False,41.80,g
11,4,580502,Caribbean,Caribbean Easter Egg Dye,Vitamin K,36,False,34.45,µg
12,5,580502,Caribbean,Caribbean Easter Egg Dye,Vitamin E,4,False,29.09,mg
13,6,580502,Caribbean,Caribbean Easter Egg Dye,Folate,103,False,25.88,µg
14,7,580502,Caribbean,Caribbean Easter Egg Dye,Phosphorus,233,False,23.33,mg
15,8,580502,Caribbean,Caribbean Easter Egg Dye,Magnesium,78,False,19.57,mg
16,9,580502,Caribbean,Caribbean Easter Egg Dye,Iron,3,False,19.01,mg
17,10,580502,Caribbean,Caribbean Easter Egg Dye,Potassium,648,False,18.53,mg
18,11,580502,Caribbean,Caribbean Easter Egg Dye,Vitamin A,905,False,18.11,IU
19,12,580502,Caribbean,Caribbean Easter Egg Dye,Vitamin B1,0,False,17.76,.

In [14]:
df = data.filter(['id', 'cuisine', 'name', 'title', 'percentOfDailyNeeds'])
df

,id,cuisine,name,title,percentOfDailyNeeds
0,580502,Caribbean,Caribbean Easter Egg Dye,Calories,27.84
1,580502,Caribbean,Caribbean Easter Egg Dye,Fat,44.62
2,580502,Caribbean,Caribbean Easter Egg Dye,Saturated Fat,25.37
3,580502,Caribbean,Caribbean Easter Egg Dye,Carbohydrates,21.68
4,580502,Caribbean,Caribbean Easter Egg Dye,Sugar,5.98
...,...,...,...,...,...
121274,244288,Cajun,Cajun Cabbage Stew,Vitamin B1,4.23
121275,244288,Cajun,Cajun Cabbage Stew,Copper,2.52
121276,244288,Cajun,Cajun Cabbage Stew,Iron,2.42
121277,244288,Cajun,Cajun Cabbage Stew,Calcium,1.83
121278,244288,Cajun,Cajun Cabbage Stew,Zinc,1.48

In [21]:
out = df.pivot_table(index='id', columns='title', values=['percentOfDailyNeeds'])
out.columns = out.swaplevel(axis='columns').columns.to_flat_index().map('_'.join)
out.columns

Index(['Alcohol_percentOfDailyNeeds', 'Caffeine_percentOfDailyNeeds',
       'Calcium_percentOfDailyNeeds', 'Calories_percentOfDailyNeeds',
       'Carbohydrates_percentOfDailyNeeds', 'Cholesterol_percentOfDailyNeeds',
       'Copper_percentOfDailyNeeds', 'Fat_percentOfDailyNeeds',
       'Fiber_percentOfDailyNeeds', 'Folate_percentOfDailyNeeds',
       'Iron_percentOfDailyNeeds', 'Magnesium_percentOfDailyNeeds',
       'Manganese_percentOfDailyNeeds', 'Phosphorus_percentOfDailyNeeds',
       'Potassium_percentOfDailyNeeds', 'Protein_percentOfDailyNeeds',
       'Saturated Fat_percentOfDailyNeeds', 'Selenium_percentOfDailyNeeds',
       'Sodium_percentOfDailyNeeds', 'Sugar_percentOfDailyNeeds',
       'Vitamin A_percentOfDailyNeeds', 'Vitamin B1_percentOfDailyNeeds',
       'Vitamin B12_percentOfDailyNeeds', 'Vitamin B2_percentOfDailyNeeds',
       'Vitamin B3_percentOfDailyNeeds', 'Vitamin B5_percentOfDailyNeeds',
       'Vitamin B6_percentOfDailyNeeds', 'Vitamin C_percentOfDailyNeeds',
       'Vitamin D_percentOfDailyNeeds', 'Vitamin E_percentOfDailyNeeds',
       'Vitamin K_percentOfDailyNeeds', 'Zinc_percentOfDailyNeeds'],
      dtype='object')

In [32]:
df1 = out.filter(['Carbohydrates_percentOfDailyNeeds', 'Fat_percentOfDailyNeeds', 'Protein_percentOfDailyNeeds'])

In [33]:
df1

,Carbohydrates_percentOfDailyNeeds,Fat_percentOfDailyNeeds,Protein_percentOfDailyNeeds
id,,,
316,13.25,8.84,51.99
340,16.11,19.20,39.28
470,2.64,43.38,93.09
541,17.03,29.21,71.27
571,13.98,13.73,21.84
...,...,...,...
1684035,19.29,24.61,104.09
1690319,22.47,17.48,17.87
1702155,8.09,37.49,65.96
1704615,28.24,7.92,50.66
1706511,11.49,72.01,102.61

In [34]:
df = df.filter(['id', 'cuisine', 'name'])

nutrition = pd.concat([df, df1], axis=1)

In [35]:
nutrition

,id,cuisine,name,Carbohydrates_percentOfDailyNeeds,Fat_percentOfDailyNeeds,Protein_percentOfDailyNeeds
0,580502.0,Caribbean,Caribbean Easter Egg Dye,NaN,NaN,NaN
1,580502.0,Caribbean,Caribbean Easter Egg Dye,NaN,NaN,NaN
2,580502.0,Caribbean,Caribbean Easter Egg Dye,NaN,NaN,NaN
3,580502.0,Caribbean,Caribbean Easter Egg Dye,NaN,NaN,NaN
4,580502.0,Caribbean,Caribbean Easter Egg Dye,NaN,NaN,NaN
...,...,...,...,...,...,...
1684035,NaN,NaN,NaN,19.29,24.61,104.09
1690319,NaN,NaN,NaN,22.47,17.48,17.87
1702155,NaN,NaN,NaN,8.09,37.49,65.96
1704615,NaN,NaN,NaN,28.24,7.92,50.66
1706511,NaN,NaN,NaN,11.49,72.01,102.61

In [39]:
nutrition = nutrition[nutrition['id'].notna()]
nutrition = nutrition[nutrition['cuisine'].notna()]
nutrition

,id,cuisine,name,Carbohydrates_percentOfDailyNeeds,Fat_percentOfDailyNeeds,Protein_percentOfDailyNeeds
0,580502.0,Caribbean,Caribbean Easter Egg Dye,NaN,NaN,NaN
1,580502.0,Caribbean,Caribbean Easter Egg Dye,NaN,NaN,NaN
2,580502.0,Caribbean,Caribbean Easter Egg Dye,NaN,NaN,NaN
3,580502.0,Caribbean,Caribbean Easter Egg Dye,NaN,NaN,NaN
4,580502.0,Caribbean,Caribbean Easter Egg Dye,NaN,NaN,NaN
...,...,...,...,...,...,...
121274,244288.0,Cajun,Cajun Cabbage Stew,NaN,NaN,NaN
121275,244288.0,Cajun,Cajun Cabbage Stew,NaN,NaN,NaN
121276,244288.0,Cajun,Cajun Cabbage Stew,NaN,NaN,NaN
121277,244288.0,Cajun,Cajun Cabbage Stew,NaN,NaN,NaN
121278,244288.0,Cajun,Cajun Cabbage Stew,NaN,NaN,NaN

In [40]:
nutrition['Carbohydrates_percentOfDailyNeeds'] = nutrition['Carbohydrates_percentOfDailyNeeds'].fillna(0)
nutrition['Fat_percentOfDailyNeeds'] = nutrition['Fat_percentOfDailyNeeds'].fillna(0)
nutrition['Protein_percentOfDailyNeeds'] = nutrition['Protein_percentOfDailyNeeds'].fillna(0)
nutrition

,id,cuisine,name,Carbohydrates_percentOfDailyNeeds,Fat_percentOfDailyNeeds,Protein_percentOfDailyNeeds
0,580502.0,Caribbean,Caribbean Easter Egg Dye,0.0,0.0,0.0
1,580502.0,Caribbean,Caribbean Easter Egg Dye,0.0,0.0,0.0
2,580502.0,Caribbean,Caribbean Easter Egg Dye,0.0,0.0,0.0
3,580502.0,Caribbean,Caribbean Easter Egg Dye,0.0,0.0,0.0
4,580502.0,Caribbean,Caribbean Easter Egg Dye,0.0,0.0,0.0
...,...,...,...,...,...,...
121274,244288.0,Cajun,Cajun Cabbage Stew,0.0,0.0,0.0
121275,244288.0,Cajun,Cajun Cabbage Stew,0.0,0.0,0.0
121276,244288.0,Cajun,Cajun Cabbage Stew,0.0,0.0,0.0
121277,244288.0,Cajun,Cajun Cabbage Stew,0.0,0.0,0.0
121278,244288.0,Cajun,Cajun Cabbage Stew,0.0,0.0,0.0

In [41]:
nutritionFinal = nutrition.groupby("cuisine", as_index=False).agg(
    Carbs = ("Carbohydrates_percentOfDailyNeeds", np.mean),
    Fats = ("Fat_percentOfDailyNeeds", np.mean),
    Protein = ("Protein_percentOfDailyNeeds", np.mean)
)
nutritionFinal

            cuisine     Carbs      Fats   Protein
0           African  0.062521  0.177759  0.212380
1          American  0.120494  0.275107  0.440209
2           British  0.109349  0.205879  0.397537
3             Cajun  0.055366  0.148369  0.259310
4         Caribbean  0.089132  0.178655  0.311819
5           Chinese  0.095964  0.219252  0.319225
6  Eastern European  0.124789  0.251185  0.448348
7          European  0.024439  0.068454  0.081900
8            French  0.083640  0.186625  0.194940

In [44]:
input_dropdown_cuisine = alt.binding_select(options=df.cuisine.unique(), name='Cuisines')
selection = alt.selection_multi(fields=['cuisine'], empty='none')

alt.data_transformers.enable('default', max_rows=None)

color = alt.condition(selection, alt.Color('cuisine:N', legend=None), alt.value('lightgray'))
make_selector = alt.Chart(nutritionFinal).mark_rect().encode(y='cuisine', color=color).add_selection(selection)

alt.LayerChart(...)